
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
      <li>
        <img src="<%= image %>" alt="<%= item.item_name %>">
        <strong>Name:</strong> <%= item.item_name %><br>
        <strong>Category:</strong> <%= category.category_name %><br>
        <strong>Price:</strong> <%= item.price %><br>
        <strong>Quantity:</strong> <%= item.quantity %>
      </li>
  </ul>
</body>
</html>
